<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

    <title>@ViewData["Title"] - Nightwear Clothing for Indian Women — Little Art</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NIGHTWEAR.styles.css" asp-append-version="true" />
    <base href="/Content/" asp-append-version="true" />
    <meta charset="utf-8" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Nightwear Clothing for Indian Women — Little Art</title>
    <meta name="description" content="Welcome to Little Art - The leading women&#39;s nightwear clothing manufacturers in India." />
    <meta name="robots" content="noodp" />
    <meta Property="og:locale" content="en_US" />
    <meta Property="og:type" content="article" />
    <meta Property="og:title" content="Nightwear Clothing for Indian Women — Little Art" />
    <meta Property="og:description" content="Welcome to Little Art - The leading women&#39;s nightwear clothing manufacturers in India." />
    <meta Property="og:site_name" content="Little Art" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Welcome to Little Art - The leading women&#39;s nightwear clothing manufacturers in India." />
    <meta name="twitter:title" content="Nightwear Clothing for Indian Women — Little Art" />
    <meta property="fb:admins" content="100010039245044" />
    <meta property="fb:app_id" content="1704566023091824" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-append-version="true" />
    <link href="/Content/assets/oktosite.min.css" rel="stylesheet"  />
    <link rel="icon" href="icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" href="icons/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="icons/favicon-180x180.png"  />
    <meta name="msapplication-TileImage" content="icons/favicon-270x270.png" />
    <meta name="theme-color" content="#EC268F">
    <link type="text/css" rel="stylesheet" href="https://www.google.com/cse/static/style/look/v4/default.css">
    <link type="text/css" rel="stylesheet" href="https://www.google.com/cse/static/element/6cb65d33d738e8fe/default+en.css">


</head>
<body>

    <div class="wrapper animsition" style="animation-duration: 1500ms; opacity: 1;">
        <header class="header-center-aligned-transparent navbar-fixed-top header-sticky ">
            <div class="search-field">
                <div class="container">
                    <input type="text" class="form-control search-field-input" placeholder="Search for...">
                </div>
            </div>
            <nav class="navbar mega-menu d-flex" role="navigation">
                <div class="container d-inline">
                    <div class="menu-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>
                        <div class="navbar-actions">
                            <div class="navbar-actions-shrink search-fullscreen search-fullscreen-trigger-white">
                                <div class="search-fullscreen-trigger">
                                    <i class="search-fullscreen-trigger-icon fa fa-search"></i>
                                </div>
                                <div class="search-fullscreen-overlay">
                                    <div class="search-fullscreen-overlay-content">
                                        <form action="/Search" method="get">
                                            <div class="search-fullscreen-input-group">
                                                <input type="text" class="form-control search-fullscreen-input" name="q" id="q" placeholder="Search for ...">
                                                <button class="search-fullscreen-search" type="submit"><i class="search-fullscreen-search-icon fa fa-search"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="search-fullscreen-bg-overlay">
                                    <div class="search-fullscreen-close">&times;</div>
                                </div>
                            </div>
                            <a class="navbar-actions-shrink sidebar-trigger sidebar-trigger-style-white" href="javascript:void(0);">
                                <span class="sidebar-trigger-icon"></span>
                            </a>
                        </div>
                    </div>

                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="nav navbar-nav navbar-nav-left d-inline">

                                <li class="nav-item"><a class="nav-item-child active" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a></li>
                                <li class="nav-item"><a class="nav-item-child" asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                                <li class="nav-item"><a class="nav-item-child" asp-area="" asp-controller="Home" asp-action="Wholesalers">Wholesalers</a></li>
                                <li class="nav-item"><a class="nav-item-child" asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a></li>

                            </ul>
                            <ul class="nav navbar-nav navbar-nav-right  d-inline">
                                <li class="nav-item nav-item-bg"><a class="nav-item-child radius-3" asp-area="" asp-controller="Home" asp-action="Cqueen">Cotton Queen</a></li>
                                <li class="nav-item nav-item-bg"><a class="nav-item-child radius-3" asp-area="" asp-controller="Home" asp-action="Gharana">Gharana</a></li>
                                <li class="nav-item nav-item-bg"><a class="nav-item-child radius-3" target="_blank" href="https://goo.gl/zZ8RcN">Buy Online</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="sidebar-nav scrollbar d-flex">
            <a class="sidebar-trigger sidebar-nav-trigger" href="javascript:void(0);">
                <span class="sidebar-trigger-icon"></span>
            </a>
            <div class="sidebar-nav-content">
                <h3 class="sidebar-nav-title">Inquiry</h3>
                <form action="/Contact" class="" id="ContactUsForm" method="post" novalidate="novalidate">
                    <input name="__RequestVerificationToken" type="hidden" value="l7JbJ5y2NEC-YCf5MWwJRmNREGST5t0t8xhzw75QV7zjp2wdDllBI18Zb6uwil1jhgTfS5uaDoPa-ZU1Q_oUo_-HgPU2FyFrMoT-YFWF7EU1" />                        <input type="text" maxlength="20" name="name" required Class="form-control sidebar-nav-comment-input margin-b-10 " placeholder="Your Name">
                    <input type="email" name="email" Class="form-control sidebar-nav-comment-input margin-b-10 " placeholder="Your e-Mail">
                    <input type="text" maxlength="12" name="phone" required Class="form-control sidebar-nav-comment-input margin-b-10 " placeholder="Your Phone">
                    <textarea required name="message" Class="form-control sidebar-nav-comment-input margin-b-10 " rows="8" placeholder="Your message"></textarea>
                    <div class="g-recaptcha" data-sitekey="6LclVRsTAAAAADq6mBaiFmz4Z5lhQCecEwfKoxGk"></div>
                    <button type="submit" Class="btn-white-brd btn-base-sm  margin-t-10">Submit</button>
                </form>
            </div>
        </div>











        @RenderBody()

        <footer id="footer footer-fixed" class="footer-v4">
            <div class="container">
                <div class="footer-v4-content">
                    <div class="row">
                        <div class="col-md-4 sm-margin-b-30">
                            <h3 class="footer-v4-title">Wholesalers</h3>
                            <div class="row">
                                <div class="col-md-6 xs-full-width md-margin-b-30">

                                    <ul class="list-unstyled footer-v4-service">
                                        <li class="footer-v4-service-item">
                                            <i class="footer-v4-service-icon fa fa-angle-right"></i>
                                            <a class="footer-v4-service-link" asp-area="" asp-controller="Home" asp-action="Wholesalers">
                                                Uttar Pradesh
                                            </a>
                                        </li>
                                        <li class="footer-v4-service-item">
                                            <i class="footer-v4-service-icon fa fa-angle-right"></i>
                                            <a class="footer-v4-service-link" asp-area="" asp-controller="Home" asp-action="Wholesalers">
                                                Rajasthan
                                            </a>
                                        </li>
                                        <li class="footer-v4-service-item">
                                            <i class="footer-v4-service-icon fa fa-angle-right"></i>
                                            <a class="footer-v4-service-link" asp-area="" asp-controller="Home" asp-action="Wholesalers">
                                                Gujarat
                                            </a>
                                        </li>
                                        <li class="footer-v4-service-item">
                                            <i class="footer-v4-service-icon fa fa-angle-right"></i>
                                            <a class="footer-v4-service-link" asp-area="" asp-controller="Home" asp-action="Wholesalers">
                                                Madhya Pradesh
                                            </a>
                                        </li>
                                        <li class="footer-v4-service-item">
                                            <i class="footer-v4-service-icon fa fa-angle-right"></i>
                                            <a class="footer-v4-service-link" asp-area="" asp-controller="Home" asp-action="Wholesalers">
                                                Chhattisgarh
                                            </a>
                                        </li>
                                        <li class="footer-v4-service-item">
                                            <i class="footer-v4-service-icon fa fa-angle-right"></i>
                                            <a class="footer-v4-service-link" asp-area="" asp-controller="Home" asp-action="Wholesalers">
                                                Maharashtra
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="col-md-6 xs-full-width">

                                    <ul class="list-unstyled footer-v4-service">


                                        <li class="footer-v4-service-item">
                                            <i class="footer-v4-service-icon fa fa-angle-right"></i>
                                            <a class="footer-v4-service-link" asp-area="" asp-controller="Home" asp-action="Wholesalers">
                                                Karnataka
                                            </a>
                                        </li>

                                        <li class="footer-v4-service-item">
                                            <i class="footer-v4-service-icon fa fa-angle-right"></i>
                                            <a class="footer-v4-service-link" asp-area="" asp-controller="Home" asp-action="Wholesalers">
                                                Tamil Nadu
                                            </a>
                                        </li>
                                        <li class="footer-v4-service-item">
                                            <i class="footer-v4-service-icon fa fa-angle-right"></i>
                                            <a class="footer-v4-service-link" asp-area="" asp-controller="Home" asp-action="Wholesalers">
                                                Andhra Pradesh
                                            </a>
                                        </li>
                                        <li class="footer-v4-service-item">
                                            <i class="footer-v4-service-icon fa fa-angle-right"></i>
                                            <a class="footer-v4-service-link" asp-area="" asp-controller="Home" asp-action="Wholesalers">
                                                Telangana
                                            </a>
                                        </li>
                                        <li class="footer-v4-service-item">
                                            <i class="footer-v4-service-icon fa fa-angle-right"></i>
                                            <a class="footer-v4-service-link" asp-area="" asp-controller="Home" asp-action="Wholesalers">
                                                Odisha
                                            </a>
                                        </li>
                                        <li class="footer-v4-service-item">
                                            <i class="footer-v4-service-icon fa fa-angle-right"></i>
                                            <a class="footer-v4-service-link" asp-area="" asp-controller="Home" asp-action="Wholesalers">
                                                Kerala
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3  xs-full-width md-margin-b-30">
                            <h3 class="footer-v4-title">About Us</h3>

                            <p>
                                Welcome to Little Art Night Wears, the world of high fashion apparel & clothing. We feel immense pleasure to introduce ourself
                                as one of the leading women's nightwear clothing manufacturers in India.
                            </p>

                        </div>
                        <div class="col-md-3 xs-full-width">
                            <h3 class="footer-v4-title">Location</h3>
                            <p class="sidebar-nav-about-text"><span class="fweight-400">Madhu Apparels</span></p>
                            <p class="sidebar-nav-about-text">201, 2nd Floor, Shri Ram Cloth Market, <br />Opp. Manilal Mention, Cross Lane, <br />Railwaypura, <br />Ahmedabad, Gujarat, <br />India - 380002</p>
                        </div>
                        <div class="col-md-2 xs-full-width">
                            <h3 class="footer-v4-title">Contact us</h3>
                            <p class="sidebar-nav-about-text">
                                Office: <a style="color:#FFF;" href="tel:+919898849352">+919898849352</a>
                            </p>
                            <p class="sidebar-nav-about-text">
                                Sales: <a style="color:#FFF;" href="tel:+919327144352">+919327144352</a>
                            </p>
                            <p class="sidebar-nav-about-text">
                                E-mail: <a style="color:#FFF;" href="mailto:littleartnightwear@gmail.com">littleartnightwear@gmail.com</a>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="footer-v4-copyright">
                    <div class="row">
                        <div class="col-md-4 sm-margin-b-30">
                            <p class="footer-v4-copyright-text"> &copy; 2023 Madhu Apparels. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-4 sm-margin-b-30">

                            <ul class="list-inline text-center ul-li-lr-2 margin-b-0">
                                <li class="theme-icons-wrap"><a href="https://www.facebook.com/LittleArt.In/" target="_blank"><i class="theme-icons theme-icons-white-bg theme-icons-xs radius-circle fa fa-facebook"></i></a></li>
                                <li class="theme-icons-wrap"><a href="https://www.twitter.com/LittleArtIndia" target="_blank"><i class="theme-icons theme-icons-white-bg theme-icons-xs radius-circle fa fa-twitter"></i></a></li>
                                <li class="theme-icons-wrap"><a href="https://google.com/+LittleartIndia" target="_blank"><i class="theme-icons theme-icons-white-bg theme-icons-xs radius-circle fa fa-google-plus"></i></a></li>
                            </ul>

                        </div>
                        <div class="col-md-4">

                            <ul class="list-inline footer-v4-terms-list">
                                <li class="footer-v4-terms-item"><a class="footer-v4-terms-link" target="_blank" href="http://www.oktosite.com">GET A WEBSITE LIKE THIS</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-content-overlay">
                <a href="javascript:void(0);" class="js-back-to-top back-to-top-theme back-to-top-is-visible back-to-top-fade-out"></a>
            </div>

        </footer>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


        <script src="/Content/assets/js/home.min.js"></script>

        <script src="/Content/assets/js/Master.js"></script>

        @*<script src="/Content/assets/js/product.min.js"></script>*@
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

