@{
    ViewData["Title"] = "About Us";
}



<body>

    <section class="breadcrumbs-v5 breadcrumbs-v5-bg-img-v2 bg-position-center-center">
        <div class="container">
            <div class="logo-wrapper">
                <img src="assets/img/logo.png" />
            </div>
            <div class="margin-b-30 md-text-right">
                <h2 class="breadcrumbs-v5-title margin-b-10">About Us</h2>
                <span class="breadcrumbs-v5-subtitle">The world of high fashion apparels & clothings</span>
            </div>
        </div>
    </section>


    <div class="content-md container-sm border-bottom-1">
        <div class="row">
            <div class="col-sm-12 sm-margin-b-50">
                <div class="margin-b-30 text-center">
                    <p>Welcome to Little Art Night Wears, the world of high fashion apparel & clothing. We feel immense pleasure to introduce ourself as one of the leading women's nightwear clothing manufacturers in India. We are reckoned as one of the best manufacturers and wholesale suppliers of Indian designer cotton women's nightwear. We have set a new standard in the night wear industry by launching Cotton queen collection girls & women, which are designed by our creative designers. Our stylish cotton night wear are highly admired by Wholesalers  & retailers throughout the India.</p>
                </div>
            </div>
        </div>
        <div class="divider-v3"><div class="divider-v3-element"><i class="divider-v3-icon fa fa-skyatlas"></i></div></div>
        <div class="row">
            <div class="col-sm-12 sm-margin-b-50">
                <div class="heading-v1">
                    <h2 class="">Our History</h2>
                </div>
                <div class="margin-b-30">
                    <p>Little Art was incorporated in the year 1995, the prime purpose of delivering standardized readymade garments products to our customers. We have attained an unprecedented position in the apparel market due to the spirited efforts of our Founder,Mr. Jagdish Ramchandani. We are known as reliable suppliers of Indian nightwear.</p>
                    <p>We are also recognized as being amongst the most reliable and cost effective Ladies nightwear Manufacturers suppliers. We are among the professionally managed company known as reputed manufacturers of Women's nightwear in India.</p>
                    <p>We are an Indian based company having our head office at Ahmedabad, the economical capital of Gujarat.</p>
                </div>
            </div>
        </div>
        <div class="divider-v3"><div class="divider-v3-element"><i class="divider-v3-icon fa fa-skyatlas"></i></div></div>
        <div class="row">
            <div class="col-sm-12 sm-margin-b-50">
                <div class="heading-v1">
                    <h2 class="">Our Products</h2>
                </div>
                <div class="margin-b-30">
                    <p>Nightwear are so versatile and increasingly popular amongst the young and old for not only does to promote the traditional identity of the wearer, but it adds elegance, style and beauty to the fashion conscious.</p>
                    <p>Our innovation and versatility clearly reflected in all our designer nightwear. Forming the keys to our success, these have helped us in nurturing the growth of our company.</p>
                </div>
            </div>
        </div>
        <div class="divider-v3"><div class="divider-v3-element"><i class="divider-v3-icon fa fa-skyatlas"></i></div></div>
        <div class="row">
            <div class="col-sm-12 sm-margin-b-50">
                <div class="heading-v1">
                    <h2 class="">Why us?</h2>
                </div>
                <div class="margin-b-30">
                    <p>
                        <ul class="list-unstyled lists-dark">
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Trendy and exclusive designs</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Superior quality products</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Experienced and creative designers and workers</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Competitive prices</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Wide and effective distribution network</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Timely deliveries</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Customer oriented approach</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <div class="divider-v3"><div class="divider-v3-element"><i class="divider-v3-icon fa fa-skyatlas"></i></div></div>
        <div class="row">
            <div class="col-sm-12 sm-margin-b-50">
                <div class="heading-v1">
                    <h2 class="">Our Strengths</h2>
                </div>
                <div class="margin-b-30">
                    <p>
                        <ul class="list-unstyled lists-dark">
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Work with responsibility, honesty and care</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Guarantee quality products and services</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Provide cost effective solutions and reliable products</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Reinvest in order to achieve competitiveness and efficiency</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Recognize that our system is perfect for daily improvement</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <div class="divider-v3"><div class="divider-v3-element"><i class="divider-v3-icon fa fa-skyatlas"></i></div></div>
        <div class="row">
            <div class="col-sm-12 sm-margin-b-50">
                <div class="heading-v1">
                    <h2 class="">Core Values</h2>
                </div>
                <div class="margin-b-30">
                    <p>
                        <ul class="list-unstyled lists-dark">
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Consumer Satisfaction. Quality</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Loyalty</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Continuous Innovation</li>
                            <li><i class="lists-item-element-bg radius-circle fa fa-angle-right"></i> Best Customer Service</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>