@{
    ViewData["Title"] = "Contact little Art at [+919898849352]";
}

<body>
    <section class="breadcrumbs-v5 breadcrumbs-v5-bg-img-v2 bg-position-center-center">
        <div class="container">
            <div class="logo-wrapper">
                <img src="assets/img/logo.png" />
            </div>
            <div class="margin-b-30 md-text-right">
                <h2 class="breadcrumbs-v5-title margin-b-10">Contact Us</h2>
                <span class="breadcrumbs-v5-subtitle">The world of high fashion apparels & clothings</span>
            </div>
        </div>
    </section>



    <div class="content-md container">
        <div class="row">
            <div class="col-md-4 md-margin-b-50">

                <div class="text-center">
                    <i class="font-size-36 color-base margin-b-20 icon-phone"></i>
                    <h3 class="font-size-20">Office</h3>
                    <p>
                        <a class="sidebar-nav-about-link" target="_blank" href="tel:+919898849352">+919898849352</a>
                    </p>
                </div>

            </div>
            <div class="col-md-4 md-margin-b-50">

                <div class="text-center">
                    <i class="font-size-36 color-base margin-b-20 icon-phone"></i>
                    <h3 class="font-size-20">Sales</h3>
                    <p>
                        <a class="sidebar-nav-about-link" target="_blank" href="tel:+919327144352">+919327144352</a>
                    </p>
                </div>

            </div>

            <div class="col-md-4 col-sm-6">

                <div class="text-center">
                    <i class="font-size-36 color-base margin-b-20 icon-envelope"></i>
                    <h3 class="font-size-20">E-mail</h3>
                    <p>
                        <a class="sidebar-nav-about-link" target="_blank" href="mailto:littleartnightwear@gmail.com">littleartnightwear@gmail.com</a>
                    </p>

                </div>

            </div>
        </div>
        <div class="divider-v1"><div class="divider-v1-element">Address</div></div>
        <div class="row">
            <div class="col-md-12">

                <div class="text-center">
                    <p>201, 2nd Floor, Shri Ram Cloth Market, Opp. Manilal Mention, Cross Lane, Railwaypura, Ahmedabad, Gujarat, India - 380002</p>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluit">
        <div id="map" style="display:none!important;" class="map height-300"></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.9114991872575!2d72.59884611428159!3d23.027021484950886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84373aaaaaab%3A0xafb080dd564bac96!2sMadhu%20Apparels!5e0!3m2!1sen!2sin!4v1612275702264!5m2!1sen!2sin" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</body>