@{
    ViewData["Title"] = "Cotton Queen Collection — Little Art";
}

<body>


    <section class="breadcrumbs-v5 breadcrumbs-v5-bg-img-v2 bg-position-center-center">
        <div class="container">
            <div class="logo-wrapper">
                <img src="assets/img/logo.png" />
            </div>
            <div class="margin-b-30 md-text-right">
                <h2 class="breadcrumbs-v5-title margin-b-10">Cotton Queen</h2>
                <span class="breadcrumbs-v5-subtitle">The world of high fashion apparels & clothings</span>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="assets/img/cotton-queen.png" width="254" height="59" class="margin-t-60 margin-b-10" />
                <p class="margin-t-10 text-center">
                    Indian nightwear clothing for women including wide range of night suits and bed room nightwear. Our innovation and versatility clearly reflected in all our designer nightwear. Forming the keys to our success, these have helped us in nurturing the growth of our company.
                </p>
            </div>
        </div>
    </div>

    <div class="content-sm full-width-container" style="padding-bottom:0px!important">
        <div class="theme-portfolio">

            <div id="portfolio-4-col-fullwidth-filter" class="cbp-l-filters-alignCenter">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                    All <div class="cbp-filter-counter">12</div>
                </div>
                <div data-filter=".c101" class="cbp-filter-item">
                    C101 <div class="cbp-filter-counter">3</div>
                </div>
                <div data-filter=".c102" class="cbp-filter-item">
                    C102 <div class="cbp-filter-counter">3</div>
                </div>
                <div data-filter=".c103" class="cbp-filter-item">
                    C103 <div class="cbp-filter-counter">3</div>
                </div>
                <div data-filter=".c104" class="cbp-filter-item">
                    C104 <div class="cbp-filter-counter">3</div>
                </div>
            </div>
            <div id="portfolio-4-col-fullwidth" class="cbp cbp-caption-active cbp-caption- cbp-ready" style="height: 3180px;">
                <div class="cbp-wrapper-outer">
                    <div class="cbp-wrapper">

                        <div class="cbp-item web-design c101 theme-portfolio-item-v2 theme-portfolio-item-xs">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="cotton-queen/cotton-queen-c101-1.jpg" alt="Cotton Queen Collection Design C101" style="width: 230px; left: 0px; top: 345px;">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="cotton-queen/cotton-queen-c101-1.jpg" data-title="Cotton Queen Collection Design C101">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="cbp-item web-design c101 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 230px; left: 0px; top: 345px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="cotton-queen/cotton-queen-c101-2.jpg" alt="Cotton Queen Collection Design C101">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="cotton-queen/cotton-queen-c101-2.jpg" data-title="Cotton Queen Collection Design C101">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="cbp-item web-design c101 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 230px; left: 0px; top: 690px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="cotton-queen/cotton-queen-c101-3.jpg" alt="Cotton Queen Collection Design C101">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="cotton-queen/cotton-queen-c101-3.jpg" data-title="Cotton Queen Collection Design C101">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="cbp-item web-design c102 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 230px; left: 0px; top: 843px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="cotton-queen/cotton-queen-c102-1.jpg" alt="Cotton Queen Collection Design C102">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="cotton-queen/cotton-queen-c102-1.jpg" data-title="Cotton Queen Collection Design C102">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="cbp-item web-design c102 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 230px; left: 0px; top: 996px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="cotton-queen/cotton-queen-c102-2.jpg" alt="Cotton Queen Collection Design C102">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="cotton-queen/cotton-queen-c102-2.jpg" data-title="Cotton Queen Collection Design C102">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="cbp-item web-design c102 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 230px; left: 0px; top: 1341px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="cotton-queen/cotton-queen-c102-3.jpg" alt="Cotton Queen Collection Design C102">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="cotton-queen/cotton-queen-c102-3.jpg" data-title="Cotton Queen Collection Design C102">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="cbp-item web-design c103 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 230px; left: 0px; top: 1494px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="cotton-queen/cotton-queen-c103-1.jpg" alt="Cotton Queen Collection Design C103">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="cotton-queen/cotton-queen-c103-1.jpg" data-title="Cotton Queen Collection Design C103">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="cbp-item web-design c103 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 230px; left: 0px; top: 1647px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="cotton-queen/cotton-queen-c103-2.jpg" alt="Cotton Queen Collection Design C103">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="cotton-queen/cotton-queen-c103-2.jpg" data-title="Cotton Queen Collection Design C103">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="cbp-item web-design c103 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 230px; left: 0px; top: 1800px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="cotton-queen/cotton-queen-c103-3.jpg" alt="Cotton Queen Collection Design C103">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="cotton-queen/cotton-queen-c103-3.jpg" data-title="Cotton Queen Collection Design C103">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="cbp-item web-design c104 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 230px; left: 0px; top: 2145px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="cotton-queen/cotton-queen-c104-1.jpg" alt="Cotton Queen Collection Design C104">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="cotton-queen/cotton-queen-c104-1.jpg" data-title="Cotton Queen Collection Design C104">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="cbp-item web-design c104 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 230px; left: 0px; top: 2490px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="cotton-queen/cotton-queen-c104-2.jpg" alt="Cotton Queen Collection Design C104">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="cotton-queen/cotton-queen-c104-2.jpg" data-title="Cotton Queen Collection Design C104">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="cbp-item web-design c104 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 230px; left: 0px; top: 2835px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="cotton-queen/cotton-queen-c104-3.jpg" alt="Cotton Queen Collection Design C104">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="cotton-queen/cotton-queen-c104-3.jpg" data-title="Cotton Queen Collection Design C104">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>