@{
    ViewData["Title"] = "Gharana Collection — Little Art";
}
<body>

    <section class="breadcrumbs-v5 breadcrumbs-v5-bg-img-v2 bg-position-center-center">
        <div class="container">
            <div class="logo-wrapper">
                <img src="assets/img/logo.png" />
            </div>
            <div class="margin-b-30 md-text-right">
                <h2 class="breadcrumbs-v5-title margin-b-10">Gharana</h2>
                <span class="breadcrumbs-v5-subtitle">The world of high fashion apparels & clothings</span>
            </div>
        </div>
    </section>



    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="assets/img/gharana.png" width="216" height="59" class="margin-t-60 margin-b-10" />
                <p class="margin-t-10 text-center">
                    Indian nightwear clothing for women including wide range of nighties. Our innovation and versatility clearly reflected in all our designer nightwear. Forming the keys to our success, these have helped us in nurturing the growth of our company.
                </p>
            </div>
        </div>
    </div>

    <div class="content-sm full-width-container" style="padding-bottom:0px!important">
        <div class="theme-portfolio">

            <div id="portfolio-4-col-fullwidth-filter" class="cbp-l-filters-alignCenter">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                    All <div class="cbp-filter-counter">12</div>
                </div>
            </div>
            <div id="portfolio-4-col-fullwidth" class="cbp cbp-caption-active cbp-caption- cbp-ready" style="height: 8933px;">
                <div class="cbp-wrapper-outer">
                    <div class="cbp-wrapper">
                        <div class="cbp-item web-design gharana1 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 536px; left: 0px; top: 0px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="gharana/gharana-1.jpg" alt="Gharana Design G01">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="gharana/gharana-1.jpg" data-title="Gharana Design G01">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design gharana2 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 536px; left: 0px; top: 804px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="gharana/gharana-2.jpg" alt="Gharana Design G02">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="gharana/gharana-2.jpg" data-title="Gharana Design G02">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design gharana3 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 536px; left: 0px; top: 1474px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="gharana/gharana-3.jpg" alt="Gharana Design G03">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="gharana/gharana-3.jpg" data-title="Gharana Design G03">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design gharana4 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 536px; left: 0px; top: 2144px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="gharana/gharana-4.jpg" alt="Gharana Design G04">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="gharana/gharana-4.jpg" data-title="Gharana Design G04">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design gharana5 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 536px; left: 0px; top: 2947px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="gharana/gharana-5.jpg" alt="Gharana Design G05">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="gharana/gharana-5.jpg" data-title="Gharana Design G05">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design gharana6 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 536px; left: 0px; top: 3751px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="gharana/gharana-6.jpg" alt="Gharana Design G06">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="gharana/gharana-6.jpg" data-title="Gharana Design G06">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design gharana7 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 536px; left: 0px; top: 4555px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="gharana/gharana-7.jpg" alt="Gharana Design G07">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="gharana/gharana-7.jpg" data-title="Gharana Design G07">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design gharana8 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 536px; left: 0px; top: 5359px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="gharana/gharana-8.jpg" alt="Gharana Design G08">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="gharana/gharana-8.jpg" data-title="Gharana Design G08">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design gharana9 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 536px; left: 0px; top: 5717px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="gharana/gharana-9.jpg" alt="Gharana Design G09">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="gharana/gharana-9.jpg" data-title="Gharana Design G09">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design gharana10 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 536px; left: 0px; top: 6521px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="gharana/gharana-10.jpg" alt="Gharana Design G010">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="gharana/gharana-10.jpg" data-title="Gharana Design G010">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design gharana11 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 536px; left: 0px; top: 7325px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="gharana/gharana-11.jpg" alt="Gharana Design G011">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="gharana/gharana-11.jpg" data-title="Gharana Design G011">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design gharana12 theme-portfolio-item-v2 theme-portfolio-item-xs" style="width: 536px; left: 0px; top: 8129px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap theme-portfolio-active-wrap">
                                        <img src="gharana/gharana-12.jpg" alt="Gharana Design G012">
                                        <div class="theme-icons-wrap theme-portfolio-lightbox">
                                            <a class="cbp-lightbox" href="gharana/gharana-12.jpg" data-title="Gharana Design G012">
                                                <i class="theme-icons theme-icons-white-bg theme-icons-sm radius-3 icon-focus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

