@{
    ViewData["Title"] = "Nightwear Clothing for Indian Women — Little Art";
}
<body>
    
    <div class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0 auto; background-color: #f7f8fa; padding: 0; color: #fff; margin-top: 0; margin-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo-wrapper">
                        <img src="assets/img/logo.png" />
                    </div>
                </div>
            </div>
        </div>
        <div id="rev-slider9" class="rev_slider fullwidthabanner" style="display: none;">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-easein="Expo.easeInOut" data-easeout="Expo.easeOut" data-masterspeed="2000" data-thumb="/Content/assets/img/slides/little-art-1.jpg" data-rotate="0" data-saveperformance="off" data-title="Cotton Queen Collection C101">
                    <img src="/Content/assets/img/slides/little-art-1.jpg" alt="" data-bgposition="top center" data-no-retina>
                </li>
                <li data-transition="fade" data-slotamount="7" data-easein="Expo.easeInOut" data-easeout="Expo.easeOut" data-masterspeed="2000" data-thumb="/Content/assets/img/slides/little-art-2.jpg" data-rotate="0" data-saveperformance="off" data-title="Cotton Queen Collection C102">
                    <img src="/Content/assets/img/slides/little-art-2.jpg" alt="" data-bgposition="top center" data-no-retina>
                </li>
                <li data-transition="boxfade" data-slotamount="7" data-easein="Expo.easeOut" data-easeout="Expo.easeOut" data-masterspeed="2000" data-thumb="/Content/assets/img/slides/little-art-3.jpg" data-rotate="0" data-saveperformance="off" data-title="Cotton Queen Collection C103">
                    <img src="/Content/assets/img/slides/little-art-3.jpg" alt="" data-bgposition="top center" data-no-retina>
                </li>
            </ul>
        </div>
    </div>


</body>